@media screen and (max-width: 991px) {
    .app-header__nav>.nav-title {
        width: 50%;
    }
    .app-header__nav>.nav-list {
        width: 50%;
    }
    .title-page {
        font-size: 20px;
    }
    .app {
        height: 1850px;
    }
}

@media screen and (max-width: 767px) {
    .app-header__nav {
        align-items: center;
        flex-flow: column;
        height: 120px;
    }
    .app-header__nav>.nav-title {
        width: 100%;
        height: 60px;
        justify-content: center;
        align-items: center;
    }
    .app-header__nav>.nav-list {
        height: 60px;
        padding: 0px;
    }
    .app {
        height: autopx;
    }
    .about {
        place-items: center;
        flex-flow: column;
    }
    .text-container {
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
    .carrousel {
        width: 450px;
        height: 320px;
    }
    .main-content {
        height: auto;
    }
    .main-content>.content-table.content-table {
        width: 80%;
    }
}

@media screen and (max-width: 479px) {
    .app {
        margin-top: 0px;
        width: 100%;
        height: auto;
    }
    .app-header__nav>.nav-list {
        width: 100%;
        justify-content: center; 
        align-items: center;
    }
    .image {
        margin: 0px;
    }
    .photos-carrousel {
        margin-top: 0px;
        flex-flow: column;
    }
}